<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::title}, ~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Department List</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-15 offset-md-0.5">
					<div class="card-header text-center fs-4">
						<p>Department Details</p>
						<div class="card-body">
							<table class="table table-success table-striped fs-5">
								<thead>
									<tr>
										<th scope="col">Id</th>
										<th scope="col">Department</th>
										<th scope="col">Description</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="x:${deptList}" class="fs-6">
										<th scope="row">[[${x.id}]]</th>
										<td>[[${x.name}]]</td>
										<td>[[${x.description}]]</td>
										<td><a th:href="@{'editDept/' + ${x.id}}"
											class="btn btn-sm btn-primary">Edit</a> <a
											th:href="@{'deleteDept/' + ${x.id}}"
											class="btn btn-sm btn-danger">Delete</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>