<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base :: layout(~{::title}, ~{::section})}">

<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
		<div>
			<h2 class="text-center">IdeaScale</h2>
			<h6 style="margin: 10px;">At IdeaScale, we invite you to join us
				on a journey powered by the unstoppable force of ideas. We firmly
				believe that ideas fuel progress, igniting innovation at every turn.
				Embracing the boundless potential of creative thought, we understand
				that extraordinary ideas can emerge from anyone, at any level,
				within any department. Through collaborative partnerships with
				IdeaScale, our clients unlock the full potential of our software,
				enabling them to optimize operations, fuel growth, and champion
				sustainability within their industries. Our ultimate objective is to
				make a lasting impact by assisting clients in efficiently sourcing
				and implementing groundbreaking ideas.</h6>
		</div>
	</section>
</body>
</html>